/**
 * Created by wu Eva on 2017/03/23.
 */
@charset "utf-8";

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, select {
	margin: 0;
	padding: 0;
	border: 0;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: ".";
	clear: both;
	height: 0;
}

.clearfix {
	display: inline-table;
	zoom: 1
}

input {
	border: 0
}

h3 {
	font-weight: 400
}

* html .clearfix {
	height: 1%
}

ul li {
	list-style: none
}

a {
	text-decoration: none;
	cursor:pointer;
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	transition: all .3s ease-out;
}

a:hover
{
	text-decoration: none;
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	transition: all .3s ease-out;
}
body
{
    font-size: 15px;
	background-color: #eee;
	font-family: "Microsoft Yahei"!important;
}

ul li {
	list-style: none;
}
.bor-rd
{
    border-radius:100%;
    color:#fff;
    width:80%;
}
.bg-orange
{
    background-color:rgb(251, 184, 34);
}
.bg-blue
{
    background-color:rgb(42, 96, 233);
}
.bg-red
{
    background-color:rgb(176, 27, 27);
}
.bg-pink
{
    background-color:rgb(254, 167, 88);
}
.bg-green
{
    background-color:rgb(151, 222, 20);
}
.bg-pblue
{
    background-color:rgb(95, 190, 237);
}
.font-orange
{
    color:rgb(251, 184, 34);
}
.font-blue
{
    color:rgb(42, 96, 233);
}
.font-red
{
    color:rgb(176, 27, 27);
}
.font-pink
{
    color:rgb(254, 167, 88);
}
.font-green
{
    color:rgb(151, 222, 20);
}
.font-pblue
{
    color:rgb(95, 190, 237);
}
.mag-top-40
{
    margin-top:40px;
}
.mag-l-r-5p
{
    margin-left:5%;
    margin-right:5%;
}
.font17
{
    font-size:17px;
    line-height:100%;
    padding-top:10px;
    padding-bottom:10px;
}
.pad-l-r-5p
{
    padding-left:5%;
    padding-right:5%;
}
.pad-t-b-15p
{
    padding-top:5%;
    padding-bottom:5%;
}
/*header---------------------------------------------------*/
#header
{
    margin-top: 50px;
	height: 80px;
	z-index: 2;
}

#header .headerBox {
	display: block;
	overflow: hidden;
	background-image: url("../Image/Login/logo.png");
	background-repeat: no-repeat;
	background-size: 50px 70%;
}

#header .headerBox .Rtitle {
	display: inline-block;
	color: #000;
}
 /*main---------------------------------------------------*/
/**
 * ҳ����������
 */
.main {
	display: block;
	background-color: #fff !important;
	padding: 3%;
	border:1px solid #5bc0de;
	-moz-box-shadow: inset 0 0.2em 1em 0.2em #abe5fe;
/* Firefox */
	-webkit-box-shadow: inset 0 0.2em 1em 0.2em #abe5fe;
 /* Safari �� Chrome */
	box-shadow: inset 0 0.2em 1em 0.2em #abe5fe;
	-moz-border-radius: 1em;*/
 /* Firefox */
	-webkit-border-radius: 1em;
 /* Safari �� Chrome */
	border-radius: 1em;
 /* Opera 10.5+, �Լ�ʹ����IE-CSS3��IE������ */
}

@media (min-width:320px) {
	#header .headerBox {
		width: 100%;
	    margin: 0;
	    background-position: 10px center;
	}
    #header .headerBox .Rtitle
    {
	    font-size: 24px;
	    margin-left: 60px;
	}
}

@media (min-width:500px) {
	#header .headerBox {
		width: 100%;
	    margin: 0 auto 0 8%;
	  	background-position: 30px center;
	}
}
@media (min-width:768px) {
	#header .headerBox {
		width: 80%;
	    margin: 0 auto 0 8%;
	  	background-position: 30px center;
	}
    #header .headerBox .Rtitle
    {
	    font-size: 32px;
	    margin-left: 80px;
	    line-height: 80px;
	    word-break: keep-all;/* ������ */
	    white-space: nowrap;/* ������ */
	}
}

@media (min-width:992px) {
	#header .headerBox {
		width: 65%;
	    margin: 0 auto 0 10%;
	    background-position: 30px center;
	}
    #header .headerBox .Rtitle
    {
	    font-size: 35px;
	    margin-left: 80px;
	    line-height: 80px;
	    word-break: keep-all;/* ������ */
	    white-space: nowrap;/* ������ */
	}
	.main {
		width: 700px;
		height: 650px;
	}

	.main .row #mainBox {
		margin: 5% 25%;
	}

}
@media(min-width:1200px) {
	#header .headerBox {
		width: 55%;
	    margin: 0 auto 0 10%;
	    background-position: 30px center;
	}
    #header .headerBox .Rtitle
    {
	    font-size: 35px;
	    margin-left: 80px;
	    line-height: 80px;
	    word-break: keep-all;/* ������ */
	    white-space: nowrap;/* ������ */
	}
	.main {
		width: 1000px;
		height: 710px;
	}

	.main .row #mainBox {
		margin: 5% 25%;
	}
}
@media(min-width:1400px) {
	#header .headerBox {
		width: 50%;
	    margin: 0 auto 0 18%;
	    background-position: 30px center;
	}
    #header .headerBox .Rtitle
    {
	    font-size: 35px;
	    margin-left: 80px;
	    line-height: 80px;
	    word-break: keep-all;/* ������ */
	    white-space: nowrap;/* ������ */
	}
	.main {
		width: 1200px;
		height: 710px;
	}

	.main .row #mainBox {
		margin: 5% 25%;
	}
}
